<footer class="text-light mt-5 container-fluid" style="border-style: none; background: #081521; padding-top : 2% ; ">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-xl-4 mx-auto">
                <h5>A propos</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <p class="mb-0">
                    Des prestations à des prix abordables pour tous. Plus d’infos et réservations à saisir rapidement, au
                    06 66 66 66 66 ou artadom@gmail.com
                </p>
            </div>

            <div class="col-md-4 col-lg-4 col-xl-4 mx-auto">
                <h5>Informations</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><a href={{url("app_acceuil")}} style="text-decoration: none ;">Accueil</a></li>
                    <li><a href={{url("app_collectif")}} style="text-decoration: none ;">Collectif</a></li>
                    <li><a href={{url("app_artistes")}} style="text-decoration: none ;">Artistes</a></li>
                    <li><a href="index.php?section=prestations" style="text-decoration: none ;">Prestations</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4">
                <h5>Contact</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><a href="#" style="text-decoration: none ;"><i class="fa fa-home mr-2"></i> Artadom</a></li>
                    <li><a href="mailto:artadom@gmail.com" style="text-decoration: none ;"><i
                                    class="fa fa-envelope mr-2"></i> artadom@gmail.com</a></li>
                    <li><a href="tel:+33628768900." style="text-decoration: none ;"><i class="fas fa-phone"></i>+
                            33 6 66 66 66 66</a></li>
                </ul>
            </div>
            <div class="col-12 copyright mt-3">
                <hr>
                <p class="text-right text-muted"><span>v. 1.0</span></p>
            </div>
        </div>
    </div>
</footer>