{% extends 'base.html.twig' %}

{% block title %}Artistes
{% endblock %}

{% block body %}

	{% include "templates/nav.html.twig" %}

	<div class="container">
		<h2 class="text-center mx-auto">Artistes</h2>
		<div class="row">
			<div class="col">
				<div class="row" id="flex">
					{% for art in artiste %}
						<div class="card bg-light text-center" style="max-width: 18rem; background-color: rgba(255,255,255,0.7) ; ">
							<div class="card-body">
								<a href="{{path("app_infos_artiste", {'id':art.id})}}" style="text-decoration: none ; color: #000000 ; ">
									<img src={{asset("images/"~art.imgArtiste)}} class="img-fluid img-center" width="200" height="200">
									<h5 class="card-title">{{art.Pseudo}}</h5>
									<p class="card-text">{{art.localisation}}</p>
								</a>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

	{% include "templates/footer.html.twig" %}

{% endblock %}
