{% extends 'base.html.twig' %}

{% block title %}Art-A-Dom!
{% endblock %}

{% block body %}

	{% include "templates/nav.html.twig" %}


	<main>
		<div class="container s002">
			<h3 style="color: #FFF">BIENVENUE SUR ART-A-Dom!</h3>
		</div>
		<div class="container s002">
			 <img src="{{asset("images/artiste.jpg")}}">
		</div>

	</main>
	{% include "templates/footer.html.twig" %}

{% endblock %}
